.shop{border-style: solid;background-color: darkgrey;border-color: darkgray;border-radius: 20px;}
.believe{border-style: solid;background-color: dimgrey;border-color: dimgray;border-radius: 20px;}
.vision{border-style: solid;background-color: gray;border-color: gray;border-radius: 20px;}
#image3{width: 400px;}
#image6{width: 400px;}
#image2{width: 400px;}
#image1{width: 400px;}
#butn{border-radius: 20px;background-color: aqua;padding: 20px; text-align: center;}