#cloth2{width: 300px;margin: 20px;}
#cloth3{width: 300px;margin: 20px;}
#img2{width: 300px;margin: 20px;}
#img6{width: 300px;margin: 20px;}
#tre{width: 300px;margin: 20px;}
#redoo{width: 300px;margin: 20px;}
#clark{width: 300px;margin: 20px;}
#fhni{width: 300px;margin: 20px;}
#redo{width: 300px;margin: 20px;}
#crew{width: 300px;margin: 20px;}
#img5{width: 300px;margin: 20px;}
#alexa{width: 300px;margin: 20px;}
#fee{width: 300px;margin: 20px;}
#uddu{width: 300px;margin: 20px;}
#red{width: 300px;margin: 20px;}
#images{width: 300px;margin: 20px;}
#six{width: 300px;margin: 20px;}
#five{width: 200px;margin: 20px;}
#four{width: 200px;margin: 20px;}
#three{width: 300px;margin: 20px;}
#two{width: 300px;margin: 20px;}
#one{width: 300px;margin: 20px;}
#back{background-color: aqua;padding: 20px;border-radius: 20px;}
