#cloth{width: 300px;margin: 20px;}
#htr{width: 300px;margin: 20px;}
#seven{width: 300px;margin: 20px;}
#eight{width: 300px;margin: 20px;}
#nine{width: 300px;margin: 20px;}
#ten{width: 300px;margin: 20px;}
#eleven{width: 300px;margin: 20px;}
#twelve{width: 300px;margin: 20px;}
#thirteen{width: 300px;margin: 20px;}
#fourteen{width: 300px;margin: 20px;}
#fifteen{width: 300px;margin: 20px;}
#sixteen{width: 300px;margin: 20px;}
#seventeen{width: 300px;margin: 20px;}
#eighteen{width: 300px;margin: 20px;}
#nineteen{width: 300px;margin: 20px;}
#twenty{width: 300px;margin: 20px;}
#twentyone{width: 300px;margin: 20px;}
#iom{width: 400px;margin: 20px;}
#mfo{width: 400px;margin: 20px;}
#ytm{width: 400px;margin: 20px;}
#download{width: 300px;margin: 20px;}
#download1{width: 300px;margin: 20px;}
#download2{width: 300px;margin: 20px;}
#download3{width: 300px;margin: 20px;}
#back{background-color: aqua;padding: 20px;border-radius: 20px;}
